doctype html
html
	head
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		meta(charset='utf-8')
		title GeoWorks Sails
	body
		h2 Geoworks
		h3 Welcome #{user.displayname}!
		Auth type: #{user.userType}<br><br>
		<br>
		a(href='http://si-sdiis/multilogin/logout') Выйти